<div class="position-fixed top-50 start-50 translate-middle
text-bg-secondary rounded-5 p-5" style="width: 70%;">
  <h1 class="text-center mb-3">Calculadora V2</h1>
  <form>
    <div class="row mb-3">
      <div class="col-sm-6 text-center">
        <label for="inputNumber1" class="form-label">Primeiro número</label>
        <input type="number" class="form-control" [(ngModel)]="num1" name="num1">
      </div>
      <div class="col-sm-6 text-center">
        <label for="inputNumber1" class="form-label">Segundo número</label>
        <input type="number" class="form-control" [(ngModel)]="num2" name="num2">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4 d-grid gap-4">
        <button class="btn btn-primary" (click)="sum()">+</button>
      </div>
      <div class="col-4 d-grid gap-4">
        <button class="btn btn-primary" (click)="sub()">-</button>
      </div>
      <div class="col-4 d-grid gap-4">
        <button class="btn btn-primary" (click)="mult()">X</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4 d-grid gap-4">
        <button class="btn btn-primary" (click)="div()">÷</button>
      </div>
      <div class="col-4 d-grid gap-4">
        <button class="btn btn-primary" (click)="pow()">^</button>
      </div>
      <div class="col-4 d-grid gap-4">
        <button class="btn btn-primary" (click)="por()">%</button>
      </div>
    </div>
    <div class="text-center">
      <label for="inputNumber1" class="form-label">Resultado</label>
      <div class="alert alert-primary" role="alert">{{result}}</div>
    </div>
  </form>
</div>
